pip install fastapi==0.110.0 uvicorn[standard]==0.29.0 sqlalchemy==2.0.29 aiosqlite==0.19.0 pydantic==1.10.14 passlib[bcrypt]==1.7.4 python-jose==3.3.0


You just need to use the code above 

-----------------------------------------------------------------------------------------------
https://sqlitebrowser.org/ 

this program can be used for editing the database its not hard data base located at same file of code 

-----------------------------------------------------------------------------------------------

cd path/to/MultiBankVerse
uvicorn main:app --reload


ilk terminalde yazilmasi gereken 

gorunmesi gereken 

Uvicorn running on http://127.0.0.1:8000
-------------------------------------------------------
ikinci terminalde yazilmasi gerekiyor

cd path/to/MultiBankVerse
python -m http.server 5500

sitenin localde yayinlanmis olmasi gerekiyor altaki linki 
http://localhost:5500/MBV.html
---------------------------
Aktif kullanicilar 

Sema sema@gmail.com - 1234 
Mesut pasta@gmail.com - pasta 

sifrelerden emin degilim 
